@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
.main {
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #634cff;
}
.screen {
  width: 360px;
  height: 800px;
  background-color: #6b56fd;
  border-radius: 25px;
  box-shadow: #6048f4 0 0 10px 10px;
}
.weatherContent {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location {
  width: 100%;
  height: 20px;
  text-align: center;
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}
.degree {
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 25px;
}
.weatherIcons {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sunTime {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
.sunRiseContainer,
.sunsetContainer {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sunRiseContainer,
.sunsetContainer > p:first-child {
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.sunRiseContainer > p:last-child,
.sunsetContainer > p:last-child {
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.timer {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.timerLine {
  width: 100%;
  height: 100px;
  text-align: center;
  border: solid 1px white;
  border-color: white transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  transform-origin: center;
}
.weatherPanel {
  width: 100%;
  height: 275px;
  border-radius: 0 0 25px 25px;
}
.weatherPanel > section {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.weatherPanel > section > * {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url(../images/wave/wave.png);
  background-size: 1000px 100px;
}
.wave1 {
  animation: animate 30s linear infinite;
  z-index: 10;
  opacity: 0.8;
  animation-delay: 0s;
  bottom: 0;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.wave2 {
  animation: animate2 20s linear infinite;
  z-index: 9;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.wave3 {
  animation: animate3 10s linear infinite;
  z-index: 8;
  opacity: 0.2;
  animation-delay: -10s;
  bottom: 15px;
}
@keyframes animate3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
.wave4 {
  animation: animate4 15s linear infinite;
  z-index: 7;
  opacity: 0.8;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate4 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
